* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(249, 249, 249);
}

section#firstSec {
  background: rgb(249, 249, 249);
}
section#firstSec header .links {
  color: #4d5d65;
  font-family: SF Pro Display;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.48px;
}
section#firstSec header .links .wrp {
  padding: 0.5em;
  border: 1px solid rgba(77, 93, 101, 0.1215686275) !important;
  border-radius: 30px;
  color: #4d5d65;
  font-family: SF Pro Display;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.48px;
}
section#firstSec header .links .wrp .active {
  border-radius: 55px;
  padding: 0.2em 0.4em;
  background: rgba(77, 93, 101, 0.1215686275);
}
section#firstSec header .download_app {
  border: 1px solid #00aa25;
  color: #00aa25;
  font-family: SF Pro Display;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.48px;
  padding: 0.4em 0.6em;
  border-radius: 40px;
}
section#firstSec header .dropdown {
  display: none;
}
section#firstSec .contents {
  padding: 2em 3em;
  display: flex;
}
section#firstSec .contents .left {
  width: 50%;
}
section#firstSec .contents .left .title {
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 70px;
  line-height: 62.54px;
  letter-spacing: -2%;
}
section#firstSec .contents .left .title span {
  color: #2cba4b;
  line-height: 71.4px;
}
section#firstSec .contents .left .desc {
  color: #4d5d65;
  font-family: SF Pro Display;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.22px;
}
section#firstSec .contents .left .buttons {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7em;
}
section#firstSec .contents .left .buttons button {
  padding: 0.7em 0.6em;
  border-radius: 52px;
  gap: 8px;
  font-family: SF Pro Display;
  font-size: 18px;
  line-height: 21.48px;
}
section#firstSec .contents .left .buttons .btn_first {
  background: #2cba4b;
  color: #ffffff;
  font-weight: 600;
  width: 440px;
  border: none;
}
section#firstSec .contents .left .buttons .btn_second {
  font-weight: 500;
  color: #2cba4b;
  width: 430px;
  border: 1px solid #2cba4b !important;
}
section#firstSec .contents .left .crs_wrp {
  display: flex;
  flex-direction: column;
}
section#firstSec .contents .left .crs_wrp .cards {
  margin-top: 3em;
}
section#firstSec .contents .left .crs_wrp .cards .card {
  padding: 0.4em 0.7em;
  width: 214px !important;
  height: 139px;
  word-wrap: break-word;
  word-break: keep-all;
  margin-top: 0.7em;
  border-radius: 12px;
}
section#firstSec .contents .left .crs_wrp .cards .card img {
  width: 68.99px;
  height: 59px;
}
section#firstSec .contents .left .crs_wrp .cards .card h3 {
  color: #001723;
  font-family: SF Pro Display;
  font-weight: 500;
  font-size: 17px;
  line-height: 24.42px;
  letter-spacing: -1%;
}
section#firstSec .contents .right {
  width: 50%;
}

.indicators {
  display: flex;
  margin-top: 1em;
  gap: 10px;
  width: 40%;
}
.indicators div {
  padding: 0.1em;
  background: rgba(0, 0, 0, 0.1019607843);
  width: 40px;
  height: 6px;
  border-radius: 55px;
}
.indicators div.active {
  background: #2cba4b;
  width: 64px;
}

section#secondSec {
  margin-top: 3em;
  height: 414px;
  padding: 2.6em 2em;
  padding-left: 5em;
  background: #001405;
  display: flex;
  gap: 2.4em;
}
section#secondSec .texts {
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 47px;
  line-height: 57.68px;
  letter-spacing: -2%;
  color: #ffffff;
}
section#secondSec .texts span {
  color: #2cba4b;
}

section#thirdSec {
  background: rgba(0, 0, 0, 0.031372549);
  margin-top: 3em;
  padding: 2em 3em;
}
section#thirdSec .firstCon .left {
  width: 50%;
}
section#thirdSec .firstCon .right {
  width: 50%;
}
section#thirdSec .firstCon .right .heading {
  text-transform: uppercase;
  color: #2cba4b;
  font-family: SF Pro Display;
  font-weight: 500;
  font-size: 20px;
  line-height: 18.26px;
  letter-spacing: -2%;
}
section#thirdSec .firstCon .right .title {
  color: #001723;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 49px;
  line-height: 57.12px;
  letter-spacing: -1%;
}
section#thirdSec .firstCon .right .items .desc {
  color: #4d5d65;
  font-family: SF Pro Display;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.49px;
  letter-spacing: 0.5%;
}
section#thirdSec .firstCon .right .items .item {
  background: #fff;
  width: 580px;
  height: 56px;
  border-radius: 75px;
  padding: 15px 20px 15px 20px;
  gap: 10px;
  color: rgba(0, 23, 35, 0.8980392157);
  font-family: SF Pro Display;
  font-weight: 500;
  font-size: 20px;
  line-height: 25.8px;
}
section#thirdSec .firstCon .right .items .item span {
  color: #2cba4b;
}
section#thirdSec .secondCon {
  display: flex;
  padding: 2em 3em;
  margin-top: 4em;
}
section#thirdSec .secondCon .left {
  width: 50%;
}
section#thirdSec .secondCon .left .title {
  color: #001723;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 49px;
  line-height: 57.12px;
  letter-spacing: -1%;
}
section#thirdSec .secondCon .left .desc {
  color: #4d5d65;
  font-family: SF Pro Display;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}
section#thirdSec .secondCon .right {
  width: 50%;
}
section#thirdSec .secondCon .right .cards {
  width: 590px;
}
section#thirdSec .secondCon .right .cards .box {
  background: #000 !important;
  gap: 3em !important;
  background: transparent !important;
}
section#thirdSec .secondCon .right .cards .box h3 {
  color: #001723;
  font-family: SF Pro Display;
  font-weight: 500;
  font-size: 22px;
  line-height: 28.38px;
  letter-spacing: -1%;
}
section#thirdSec .secondCon .right .cards .box p {
  color: #4d5d65;
  font-family: SF Pro Display;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.22px;
}

footer {
  background: hsla(0, 0%, 0%, 0.906);
  color: #fff;
}
footer .top {
  border-bottom: 1px solid rgba(131, 140, 134, 0.5019607843);
}
footer .top h3 {
  color: #ffffff;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.12px;
  letter-spacing: -1%;
}
footer .top p {
  color: #b0c1ca;
  font-family: SF Pro Display;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.85px;
}
footer .top .btn {
  background: #2cba4b;
  padding: 0.4em 0.9em;
  color: #ffffff;
  font-family: SF Pro Display;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.48px;
}
footer .bottom .logo_brand {
  cursor: pointer;
}
footer .bottom .logo_brand p {
  color: #78888f;
  font-family: SF Pro Display;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
footer .bottom .links .item strong {
  color: #ffffff;
  font-family: SF Pro Display;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
}
footer .bottom .links .item li {
  color: #78888f;
  font-family: SF Pro Display;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  line-height: 24px;
  transition: 0.5s ease;
}
footer .bottom .links .item li:hover {
  color: #ffffff;
}
footer .bottom .apps img {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  section#firstSec header .links {
    display: none !important;
  }
  section#firstSec header .dropdown {
    display: block;
  }
  section#firstSec .contents {
    flex-direction: column;
  }
  section#firstSec .contents .left {
    width: 100%;
  }
  section#firstSec .contents .left .title {
    font-size: 40px;
    line-height: 0.9em;
  }
  section#firstSec .contents .left .cards {
    width: 100% !important;
  }
  section#firstSec .contents .left .cards .card {
    width: 100% !important;
  }
  section#firstSec .contents .right {
    width: 100%;
  }
  section#firstSec .contents .right img {
    width: 90%;
  }
  section#secondSec {
    width: 100% !important;
    flex-direction: column;
    height: 70vh;
    padding: 0.8em 1em !important;
    text-align: start;
    font-size: 24px !important;
    word-wrap: break-word;
    word-break: keep-all;
  }
  section#secondSec img {
    width: 100%;
  }
  section#thirdSec .firstCon {
    flex-direction: column;
    gap: 2.6em;
  }
  section#thirdSec .firstCon .left {
    width: 100%;
  }
  section#thirdSec .firstCon .left img {
    width: 90%;
  }
  section#thirdSec .firstCon .right {
    width: 100%;
  }
  section#thirdSec .firstCon .right .title {
    width: 100%;
    line-height: 1.2em;
    font-size: 2.4em !important;
  }
  section#thirdSec .firstCon .right .items {
    width: 100%;
  }
  section#thirdSec .firstCon .right .items .item {
    padding-bottom: 3.8em;
    width: 100% !important;
  }
  section#thirdSec .secondCon {
    flex-direction: column;
    padding: 0;
  }
  section#thirdSec .secondCon .left {
    width: 100%;
    padding: 0;
  }
  section#thirdSec .secondCon .left .title {
    line-height: 1.3em;
    font-size: 2em !important;
  }
  section#thirdSec .secondCon .right {
    width: 100%;
    padding: 0 !important;
  }
  section#thirdSec .secondCon .right .box p {
    width: 90% !important;
  }
  footer .top .center h3 {
    font-size: 2em !important;
  }
  footer .bottom {
    flex-direction: column;
  }
  footer .bottom .logo_brand {
    width: 90%;
  }
  footer .bottom .links {
    flex-direction: column;
  }
}
@media only screen and (max-width: 567px) {
  section#firstSec header .links {
    display: none !important;
  }
  section#firstSec header .dropdown {
    display: block;
  }
  section#firstSec .contents {
    flex-direction: column;
  }
  section#firstSec .contents .left {
    width: 100%;
  }
  section#firstSec .contents .left .title {
    font-size: 40px;
    line-height: 0.9em;
  }
  section#firstSec .contents .left .cards {
    width: 100% !important;
  }
  section#firstSec .contents .left .cards .card {
    width: 100% !important;
  }
  section#firstSec .contents .right {
    width: 100%;
  }
  section#firstSec .contents .right img {
    width: 90%;
  }
  section#secondSec {
    width: 100% !important;
    flex-direction: column;
    height: 70vh;
    padding: 0.8em 1em !important;
    text-align: start;
    font-size: 24px !important;
    word-wrap: break-word;
    word-break: keep-all;
  }
  section#secondSec img {
    width: 100%;
  }
  section#thirdSec .firstCon {
    flex-direction: column;
    gap: 2.6em;
  }
  section#thirdSec .firstCon .left {
    width: 100%;
  }
  section#thirdSec .firstCon .left img {
    width: 90%;
  }
  section#thirdSec .firstCon .right {
    width: 100%;
  }
  section#thirdSec .firstCon .right .title {
    width: 100%;
    line-height: 1.2em;
    font-size: 2.4em !important;
  }
  section#thirdSec .firstCon .right .items {
    width: 100%;
  }
  section#thirdSec .firstCon .right .items .item {
    padding-bottom: 3.8em;
    width: 100% !important;
  }
  section#thirdSec .secondCon {
    flex-direction: column;
    padding: 0;
  }
  section#thirdSec .secondCon .left {
    width: 100%;
    padding: 0;
  }
  section#thirdSec .secondCon .left .title {
    line-height: 1.3em;
    font-size: 2em !important;
  }
  section#thirdSec .secondCon .right {
    width: 100%;
    padding: 0 !important;
  }
  section#thirdSec .secondCon .right .box p {
    width: 90% !important;
  }
  footer .top .center h3 {
    font-size: 2em !important;
  }
  footer .bottom {
    flex-direction: column;
  }
  footer .bottom .logo_brand {
    width: 90%;
  }
  footer .bottom .links {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */